
.account {
    padding: 20px;
    flex-grow : 1;
    background-image: url('image5.jpg');
    background-size : cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height : 100%;
    overflow-x : hidden;
  }
  .account .header {
    padding : 3px;
    font-size : 15px;
    margin-bottom : 10px;
    font-weight : 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  .account form {
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Allow vertical scrolling within the form */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: 2px;
  }
  form::-webkit-scrollbar {
    width : 2px;  /* Safari and Chrome */
}
  
  .account form input[type="text"],input[type="file"] {
    width : 90%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 13px;
  }
  .account form input{
    margin-top: 1px;
    border-radius: 4px;
    border : none;
    padding : 10px 5px;
    border-bottom: 1px solid green;
    font-weight : 600;
  }
  .account form label {
    font-size : 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    color : green;
  }

  .account form button{
    color : rgb(233,249,255);
    background-color : #2A811D;
    font-size : 15px;
    text-transform: uppercase;
}
.account form button:hover{
    background-color : #2AAB17;
    font-weight : 600;
    border : 1px solid green;
}

  @media (max-width: 768px) {
    .account{
        
    }
  }
