.password{
    height : 100%;
    flex-grow : 1;
    padding : 30px;
    background-image : url('password_image.jpg');
    background-size :cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;

}
.password .header{
    font-size : 16px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding : 3px;
    margin-bottom : 10px;
}
.password form{
    display: flex;
    flex-direction : column;
    justify-content: center;
}
.password form input{
    margin-left : 6px;
    margin-top: 1px;
    border-radius: 4px;
    border : none;
    padding : 10px 5px;
    border-bottom: 1px solid green;
    border-top : 1px solid green;
    border-left: 1px solid green;
    border-right: 1px solid green;
    font-weight : 600;
  }
.password form input[type="text"] {
    width : 90%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 13px;
}

.password form button{
    margin-left : 6px;
    color : rgb(233,249,255);
    background-color : #2A811D;
    font-size : 15px;
    text-transform: uppercase;
    width : 90%;
}
.password form button:hover{
    background-color : #2AAB17;
    font-weight : 600;
    border : 1px solid green;
}