
.userapplication {
    background : #cef4cf;
    padding : 20px 50px;
    min-height: 885px;
    background-image: url('job_image.jfif');
    background-repeat: no-repeat;
    background-size : cover;
    background-position: center;
    background-attachment: fixed;
}
.userapplication .container{
    margin : 0 auto;
    display : flex;
    flex-direction: column;
}
.userapplication .container .h1{
    font-size : 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 15px;
}

@media(max-width: 1000px){
    .userapplication .container .h1{
        text-align: center;
    }
}

@media (max-width:480px) {
    .userapplication{
        padding : 10px 5px;
    }
}